<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.bridgecode.admin.AdminMapper">


	<select id="getUserList" resultType="Map">
		<!-- <참고> map :java.util.map -->
		<!-- 쿼리부분의 컴럼명을 소문자로 하고 싶을때 as 'alias'를 사용 -->
		SELECT *
		FROM member
		WHERE member_level = #{member_level}
	</select>

	<select id="getUserSel" resultType="com.yedam.bridgecode.member.MemberVO">
        <![CDATA[
        SELECT 
        	  MEMBER_ID as member_id
        	, MEMBER_PASSWORD as member_password
        	, MEMBER_NICKNAME as member_nickname
        	, MEMBER_NAME as member_name
        	, MEMBER_BIRTH as member_birth
        	, MEMBER_LAST_CONNECTION as member_last_connection
        	, MEMBER_INTEREST1 as member_interest1
        	, MEMBER_INTEREST2 as member_interest2
        	, MEMBER_INTEREST3 as member_interest3
        	, MEMBER_LEVEL as member_level
        	, MEMBER_PROFILE_IMG as member_profile_img
        	, MEMBER_WARNING as member_warning
        	, MEMBER_SEX as member_sex
        	, MEMBER_PARTNER_ID as member_partner_id
        	, MEMBER_INTRODUCTION as member_introduction
        	, MEMBER_COUNTRY as member_country
        FROM member
        WHERE member_id = #{member_id}
        ]]>
	</select>

	<select id="updateUserApplication">
        <![CDATA[
        UPDATE MEMBER SET
        	MEMBER_LEVEL = 2
         WHERE member_id = #{member_id}
         ]]>
	</select>

	<select id="updateUserReject">
        <![CDATA[
         UPDATE MEMBER SET
        	MEMBER_LEVEL = 3
         WHERE member_id = #{member_id}
         ]]>
	</select>
	
	
</mapper>