<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.bridgecode.chat.ChatMapper">
<!-- 반드시 패키지명 이름 제대로 확인하세요..! -->

	<insert id="insertChat" parameterType="chat"><!-- sql-map-config-spring.xml에서 타입 alias정의 -->
        <![CDATA[  
        INSERT INTO chat(
        			chat_id,
					chat_content,
					chat_from_id,
					chat_to_id,
					chat_time) 
			   
        VALUES(
			   chat_seq.nextval,
        	   #{chat_content},
        	   #{chat_from_id},
        	   #{chat_to_id},
        	   sysdate)
        ]]>
	</insert>
	
	<select id="getCoupleChatList" resultType="map">
		SELECT *
		FROM chat
		where (chat_from_id = #{member_id}
		and chat_to_id = #{member_partner_id})
		or (chat_from_id = #{member_partner_id}
		and chat_to_id = #{member_id})
		order by chat_time
	</select> 
	
	
	<insert id="insertWarning" parameterType="hashmap"><!-- sql-map-config-spring.xml에서 타입 alias정의 -->
        <![CDATA[   
        INSERT INTO warning(
        			warning_id,
					warning_to_id,
					warning_return,
					warning_reason,
					warning_time,
					warning_status,
					warning_from_id
					) 
			   
        VALUES(
			   warning_seq.nextval,
        	   #{vo.member_partner_id},
        	   null,
        	   #{reason},
        	   sysdate,
        	   'd1',
        	   #{vo.member_id})
        ]]>
	</insert>
	
</mapper>
