<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.bridgecode.home.HomeMapper">
	<!-- 반드시 패키지명 이름 제대로 확인하세요..! -->

	<select id="bestMemberMonthList" resultType="map">
		<![CDATA[
			SELECT m.member_id as "member_id", count(1) as "heart_count", m.member_profile_img as "member_profile_img"
			from member m, heart h
			where m.member_id = h.heart_to_id 
			and to_char(SYSDATE, 'MM')= to_char(h.heart_confirm_time,'mm')
			group by member_id, member_profile_img
			order by count(h.heart_to_id) DESC
		]]>
	</select>

	<select id="bestMemberWeekList" resultType="map">
		<![CDATA[
			SELECT m.member_id as "member_id", count(1) as "heart_count", m.member_profile_img as "member_profile_img"
			from member m, heart h
			where m.member_id = h.heart_to_id
			and (to_char(SYSDATE, 'YYYYMMDD') >= to_char(h.heart_confirm_time-7, 'YYYYMMDD') or
			     to_char(SYSDATE, 'YYYYMMDD') <= to_char(h.heart_confirm_time-7, 'YYYYMMDD')
		 	    )
			group by member_id, member_profile_img
			order by count(h.heart_to_id) DESC
		]]>
	</select>

	<select id="bestMemberAllList" resultType="map">
		<![CDATA[
			SELECT m.member_id as "member_id", count(1) as "heart_count", m.member_profile_img as "member_profile_img"
			from member m, heart h
			where m.member_id = h.heart_to_id
			group by member_id, member_profile_img
			order by count(h.heart_to_id) DESC
		]]>
	</select>
	
	<select id="countAllCouple" resultType="int">
			SELECT COUNT(HEART_CONFIRM_TIME) as coupleallcount
			FROM HEART
	</select>

</mapper>