<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.bridgecode.warning.WarningMapper">

	<select id="getWarningList" resultType="Map">
		<!-- <참고> map :java.util.map -->
		<!-- 쿼리부분의 컴럼명을 소문자로 하고 싶을때 as 'alias'를 사용 -->
		SELECT *
		FROM WARNING
		WHERE WARNING_STATUS = 'd1'
	</select>

	<select id="getWarningSel" resultType="com.yedam.bridgecode.warning.WarningVO">
        <![CDATA[
        SELECT 
        	  WARNING_ID as WarningId
        	, WARNING_REASON as WarningReason
        	, WARNING_TIME as WarningTime
        	, WARNING_STATUS as WarningStatus
        	, WARNING_FROM_ID as WarningFromId
        	, WARNING_TO_ID as WarningToId
        	, WARNING_RETURN as WarningReturn
        FROM WARNING
        WHERE WARNING_ID = #{member_id}
        ]]>
	</select>

	<update id="updateWarningApplicationMember">
        <![CDATA[
        UPDATE MEMBER SET
        	MEMBER_WARNING = MEMBER_WARNING +1
        WHERE MEMBER_ID = (SELECT WARNING_TO_ID
         					FROM WARNING
         					WHERE WARNING_ID = #{warningId})
         ]]>
	</update>

	<update id="updateWarningApplicationWarning">
        <![CDATA[
        UPDATE WARNING SET
        	WARNING_STATUS = NULL
        WHERE WARNING_ID = #{warningId}
         ]]>
	</update>

	<update id="updateWarningReject">
        <![CDATA[
         UPDATE WARNING SET
        	WARNING_STATUS = NULL
         WHERE WARNING_ID = #{warningId}
         ]]>
	</update>

	<select id="countWarning" resultType="int">
		<![CDATA[
		 SELECT COUNT(WARNING_STATUS)
		 FROM WARNING
		 WHERE WARNING_STATUS = 'd1'
		]]>
	</select>

	<select id="selChatContext" resultType="Map">
		<![CDATA[
		 SELECT * FROM CHAT
		 WHERE ((CHAT_FROM_ID AND CHAT_TO_ID)
		 OR (CHAT_FROM_ID AND CHAT_TO_ID))
		 AND TO_CHAR(CHAT_TIME,'YYYY-MM-DD HH24:MI:SS')>=(SELECT TO_CHAR(WARNING_TIME-1/24,'YYYY-MM-DD HH24:MI:SS')
		  													FROM WARNING
		 													WHERE WARNING_ID = #{warningId})
		 AND TO_CHAR(CHAT_TIME,'YYYY-MM-DD HH24:MI:SS')<=(SELECT TO_CHAR(WARNING_TIME+1/24,'YYYY-MM-DD HH24:MI:SS')
															FROM WARNING
															WHERE WARNING_ID = #{warningId})
		]]>
	</select>

</mapper>